.top-nav
	position: fixed
	top: 0
	left: 0
	transition: all .3s ease-in-out

.primary-menu nav
  display: none

.menu-toggle
	position: absolute
	top: 23px
	right: 20px
	display: block
	+rem('font-size',24px)
	cursor: pointer
	color: white
