.header-menu
	display: none

.site-wrapper, .top-nav
	&.pushed
		left: -260px
		transition: all .3s ease-in-out

.mobile-nav-heading
	text-transform: uppercase
	font-weight: bold
	margin-top: 15px

	a:hover
		cursor: default


.responsive-menu
	position: fixed
	right: -260px
	top: 0
	display: block
	width: 260px
	background: darken($gray,3%)
	height: 100%
	z-index: 2000
	overflow-y: scroll
	+rem('font-size', 16px)
	transition: all .3s ease-in-out

	&.pushed
		right: 0
		transition: all .3s ease-in-out

	.logo
		width: 100%
		opacity: .3

	img
		padding: 25px

	.menu-item-has-children
		font-weight: bold
		margin-top: 25px

	li
		width: 100%

		a
			width: 100%
			padding: 15px 30px
			color: white
			display: block
			+rem('font-size',14px)

	.sub-menu
		li
			font-weight: normal

	.button.white
		background: none
		padding: 15px 20px
		width: 100%
		margin: 0

		a
			width: 100%
			border-radius: 5px
			background: white
			padding: 10px 20px
			margin: 0
			text-align: center
