/*!
Theme Name: Tenemos Derechos
Theme URI: http://brycehewett.com
Author: Bryce Hewett
Version: 1.0
Author URI: http://brycehewett.com
Text Domain: tenemosderechos
*/

$gray: #424242;
$med-gray: lighten($gray, 20);
$light-gray: lighten($gray, 60);
$rly-light-gray: lighten($gray, 70);
$brand-primary: #8c0c04;
$red: #b91410;
$yellow: #e8c014;
$green: #0d9717;
$blue: #34495e;

$total-columns: 12;
$column-width: 30px;
$gutter-width: 15px;
$grid-padding: 15px;

$ionicons-font-path: "libs/Ionicons/fonts";
$FontPath: "libs/Roboto/fonts";
$FontName: "Roboto";
$FontVersion: "1.1.0";

@import "susy";
@import "mixins/_rem";

@import "../../libs/Roboto/sass/_mixins";
@import "../../libs/Roboto/sass/_Regular";
@import "../../libs/Roboto/sass/_Italic";
@import "../../libs/Roboto/sass/_Medium";
@import "../../libs/Roboto/sass/_MediumItalic";
@import "../../libs/Roboto/sass/_Bold";
@import "../../libs/Roboto/sass/_BoldItalic";

@import "../../libs/Ionicons/scss/ionicons";

@import "../../libs/meyer-reset/stylesheets/_meyer-reset";

@import "includes/base/_reset";
@import "includes/base/_typography";
@import "includes/base/_layout";
@import "includes/base/_navigation";
@import "includes/base/_posts";
@import "includes/base/_page";
@import "includes/base/_forms";
@import "includes/base/_buttons";
@import "includes/base/_footer";

@media (max-width: 992px) {
	@import "includes/lg/_navigation";
	@import "includes/lg/_responsive-nav";
	@import "includes/lg/_page";
}

@media (max-width: 768px) {
	@import "includes/md/_navigation";
	@import "includes/md/_layout";
	@import "includes/md/_footer";
	@import "includes/md/_page";
}

@media (max-width: 425px) {
	@import "includes/sm/_navigation";
	@import "includes/sm/_layout";
	@import "includes/sm/_page";
}
