
.button
  font-weight: bold
  padding: 13px 22px 13px 22px
  position: relative
  display: inline-block
  margin: 3px 8px
  cursor: pointer
  border-radius: 5px
  +rem('font-size',16px)

  &.white
    background: white
    color: $gray

    a
      color: $gray !important

    &:hover
      background: $rly-light-gray

  &.red
    background: $brand-primary
    color: white
    box-shadow: inset 0 -2px 0px rgba(0,0,0,.2)

    &:hover
      background: darken($brand-primary, 3%)



%button-nav
  max-width: 200px

  a
    width: 100%
    margin: 8px 0

.older
  @extend %button-nav
  float: left

.prev-posts
  @extend .older

.newer
  @extend %button-nav
  float: right

.next-posts
  @extend .newer

.share_twitter, .share_facebook
  text-align: left
  display: inline
  padding: 0
  color: $brand-primary!important
  +rem('font-size', 16px)

.share_facebook
  margin-left: 10px
