.footer
  color: $gray
  bottom: 0
  +rem('font-size',16px)

  a
    color: $gray

  nav
    text-transform: uppercase
    +rem('font-size', 14px)
    font-weight: 500

    &+nav
      border-top: 1px solid $light-gray
      margin-bottom: 45px

    li
      display: inline

      &:first-of-type
        a
          padding-left: 0

      a
        padding: 15px
        display: inline-block
        color: lighten($gray, 20)

        &:hover
          color: $gray

.legal-disclaimer
  text-align: left
  +rem('font-size', 13px)
  color: lighten($gray, 20)
  line-height: 130%
  text-align: justify

  .copyright
    margin-top: 15px
    display: inline-block

  span:not(.copyright)
    text-transform: uppercase
    font-weight: bold
