// Contact Form

input[type=text], input[type=search], input[type=email], textarea, select
  position: relative
  color: $gray
  padding: 10px
  border: 3px solid $rly-light-gray
  position: relative
  border-radius: 5px
  +rem('font-size',16px)
  -webkit-appearance: none

  &:focus
    border: 3px solid #64b0e4
    box-shadow: 0 0 0
    outline: none

select
  width: 100%
  height: 44px
  -webkit-appearance: menulist

input.wpcf7-not-valid, textarea.wpcf7-not-valid
  border-top-right-radius: 0
  border-top-left-radius: 0

.required
  color: $red

.legend
  +rem('font-size', 14px)
  color: $med-gray
  margin: 0

button[type=submit]
  border: none


.wpcf7
  //span
    //display: block

  .name, .email, .message
    float: left


  .name, .email
    width: 100%

  .message
    width: 100%

  input
    width: 100%

  .wpcf7-form-control-wrap
    position: relative
    margin-top: 5px

    &.recaptcha-373

      .wpcf7-not-valid-tip
        position: relative
        border-radius: 5px
        top: 0
        margin-top: 5px

  .wpcf7-not-valid
    border: 3px solid $red
    margin-top: 30px

  .wpcf7-not-valid-tip
    background: $red
    position: absolute
    padding: 3px 15px
    width: 100%
    text-align: left
    left: 0
    top: -42px
    color: white
    +rem('font-size', 14px)
    font-weight: bold
    border-top-right-radius: 5px
    border-top-left-radius: 5px

  .wpcf7-submit
    @extend .button
    @extend .red
    border: none
    padding: 40px
    width: 100%
    margin: 25px 0 0!important
    width: 200px
    -webkit-appearance: none

  .wpcf7-validation-errors
    border: none
    background: $yellow

  .wpcf7-mail-sent-ok
    border: none
    color: white
    background: $green

  .wpcf7-response-output
    font-weight: bold
    +rem('font-size',20px)
    border-radius: 6px
    margin: 10px 0
    padding: 20px
    width: 100%
    text-align: center

  textarea
    width: 100%

.invalid
  .wpcf7-form-control-wrap
    margin-bottom: 20px

.mobile-nav
  display: none
  //@extend .main-nav

.searchform
  overflow: auto
  margin-bottom: 30px

.s
  border-top-right-radius: 0px!important
  border-bottom-right-radius: 0px!important
  margin-right: 0!important
  float: left

.searchsubmit
  border: none
  border-top-left-radius: 0px!important
  border-bottom-left-radius: 0px!important
  margin: 0!important
  float: left
