*
  box-sizing: border-box

html
  overflow-x: hidden
  -webkit-font-smoothing: antialiased

body
  min-width: 320px
  color: $gray
  overflow-x: hidden
  background: $rly-light-gray

img
  color: $rly-light-gray

.container
  @include container
  max-width: 1170px
  position: relative

.site-wrapper
  left: 0
  width: 100%
  position: relative
  transition: all .3s ease-in-out

.content
  margin: 0 auto
  margin-bottom: 30px
  padding: 145px 15px 15px 15px

.card
  background: white
  box-shadow: 0 0 4px rgba(0,0,0, .1)
  border-radius: 3px
  padding: 25px

.hidden
  display: none

// 2 column layout
// .two-column-container
// 	@include container
// 	padding-top: 100px
// 	margin: 0 9% 90px
// 	min-height: 62vh

.col-two-thirds
	@include span(8 of 12)

.col-one-third
	@include span(4 of 12)

.last
  @include span(last)
