$menu-height: 70px

.top-nav
  min-width: 320px
  width: 100%
  +rem('font-size', 16px)
  z-index: 1
  position: absolute
  top: 0
  left: 0

.primary-menu
  background: $brand-primary
  min-height: $menu-height

  .container
    min-height: $menu-height

  ul
    text-align: right
    margin-right: 15px

    li
      display: inline-block
      position: relative

      &:hover
        .sub-menu
          display: block

      a
        display: block
        color: white
        padding: 26px 15px 28px

      &:hover
        background: rgba(126,126,126,.1)

    .button
      padding: 0

      a
        padding: 12px 22px 12px 22px
        color: white

      &.current-menu-item
        a
          padding: 12px 22px 12px 22px
          border-bottom: 0

    .current-menu-item > a
      border-bottom: 10px solid $brand-primary
      padding: 26px 15px 18px



  .children
    position: absolute
    width: 284px
    left: -142px
    margin-left: 50%
    background: rgba(255, 255, 255, 0.95)
    text-align: center
    border-radius: 10px
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2)
    border-top: 1px solid #dfe0e1
    visibility: hidden
    padding: 5px 0
    z-index: 999
    opacity: 0
    top: 110px


    li
      width: 100%

      a
        color: $gray
        width: 100%

    .current-menu-item > a
      border-left: 10px solid $brand-primary
      border-bottom: none
      padding: 26px 15px 28px

    &:before
      content: ''
      border-bottom: 16px solid $light-gray
      border-left: 16px solid transparent
      border-right: 16px solid transparent
      position: absolute
      top: -16px
      margin-left: 50%
      left: -16px

    &:after
      content: ''
      border-bottom: 14px solid rgba(255,255,255, .9)
      border-left: 14px solid transparent
      border-right: 14px solid transparent
      position: absolute
      top: -14px
      margin-left: 50%
      left: -14px

  .page_item_has_children
    &:before
      content: "&#xE313"
      font-family: 'Material Icons'
      display: inline-block
      font-style: normal
      font-weight: normal
      line-height: 1
      -webkit-font-smoothing: antialiased
      color: $med-gray
      position: absolute
      bottom: 10px
      left: 50%
      margin-left: -5px

    &:hover
      .children
        opacity: 1
        top: 60px
        -webkit-transition: all 0.5s ease
        transition: all 0.5s ease
        visibility: visible

  .logo
    margin-left: 20px
    height: $menu-height
    float: left
    display: inline-block

    img
      width: 284px
      height: auto
      position: absolute
      top: 50%
      transform: translate(0, -50%)

.secondary-menu
  background: white
  box-shadow: 0 2px 4px rgba(0,0,0, .1)
  z-index: 1

  ul
    text-align: left
    margin-left: 15px

    li
      display: inline-block
      position: relative

      a
        display: block
        color: $gray
        padding: 15px 20px
        +rem('font-size', 14px)

      &:hover
        background: rgba(126,126,126,.1)

.pinned
  position: fixed
  top: 0
  left: 0
  width: 100%

.menu-toggle
  display: none

.responsive-menu
  display: none
