.single-column-container
	padding: 120px 17% 90px 17%
	overflow: auto
	min-height: 62vh

.header-image+article
	padding: 50px 17% 90px 17%
	overflow: auto

.header-image
	width: 100%
	height: 300px
	background-repeat: no-repeat
	background-size: cover
	background-position: center center

//404 Page
.error404
	article
		text-align: center
		padding: 100px 0

		h1
			+rem('font-size',160px)

		p
			+rem('font-size',22px)

//BreadCrumbs

.crumbs
	+rem('font-size',16px)
	color: $med-gray

	a
		color: $med-gray

		&:hover
			color: $brand-primary

.sidebar
	padding-top: 40px

//Header Image
.header-image
	background: url('images/header.jpg') center center
	background-size: cover
	height: 515px
	width: 100%

	.container
		height: 515px

	.header-text
		overflow: auto
		position: absolute
		width: 84%
		top: 50%
		margin: 50px 8% 0 8%
		color: #212121
		transform: translate(0, -50%)
		background: rgba(255,255,255, .7)
		padding: 15px 30px

		h1
			margin: 0
			+rem('font-size', 50px)
			font-weight: 400

	&+.content
		padding-top: 0
