.superlink
  display: block

  &:hover
    cursor: pointer

.post-teaser
  margin: 30px 0
  box-shadow: 0 0 4px rgba(0,0,0, .1)
  transition: all .3s ease-in-out

  &:hover
    transition: all .3s ease-in-out
    cursor: pointer
    box-shadow: 0 0 15px rgba(0,0,0, .2)

    .post-excerpt
      transition: all .3s ease-in-out
      color: $gray

    .teaser-link
      transition: all .3s ease-in-out
      color: $brand-primary

  h2
    color: $gray

  .post-excerpt
    transition: all .3s ease-in-out
    color: $med-gray

  .teaser-link
    transition: all .3s ease-in-out
    padding-top: 30px
    color: $med-gray
    display: inline-block
    +rem('font-size',14px)

.post-meta
  display: inline-block
  +rem('font-size',14px)
  margin: 0

  time
    float: left
    width: 100%
    display: block
    text-transform: capitalize
    color: $med-gray

  .post-category-label
    float: left
    padding: 3px 15px
    margin-bottom: 5px
    color: white
    font-weight: 500
    text-transform: uppercase
    margin-right: 10px

.post-nav
  float: left
  width: 100%
  margin: 20px 0

.teaser-image
  color: $rly-light-gray
