html
  font-size: 62.5%

body
  +rem ('font-size', 16px)
  font-family: 'Roboto', sans-serif
  font-weight: normal


h1, h2, h3, h4, h5, h6
  margin-top: 15px


h4, h5, h6
  font-weight: bold

em
  font-style: italic

strong
  font-weight: bold

a
  color: $brand-primary
  text-decoration: none
  transition: all 0.1s ease

  &:hover
    transition: all 0.1s ease

h1, h2, h3, h4, h5, h6
  font-family: 'Roboto', sans-serif
  font-weight: bold
  line-height: 158%

h1
  +rem('font-size', 36px)
  line-height: 118%

h2
  +rem('font-size', 28px)

h3
  +rem('font-size', 24px)

h4
  +rem('font-size', 20px)

h5
  +rem('font-size', 18px)

h6
  +rem('font-size', 18px)
  text-transform: uppercase

p
  margin-top: 5px
  margin-bottom: 20px
  line-height: 158%



blockquote
  +rem('font-size', 22px)
  color: $med-gray
  font-style: italic
  position: relative
  margin: 10px 25px
  padding-left: 25px
  border-left: 3px solid $rly-light-gray


article
  +rem('font-size',16px)

  ul
    list-style-type: circle

  ol
    list-style: decimal

  ol, ul
    margin: 15px 30px
    line-height: 150%

    li
      margin: 5px 0
